body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #78003F;
    color: #fff;
    padding: 1rem 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50%;
    height: 50%;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    background: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    color: #78003F;
}

button {
    background: #78003F;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #78003F;
}

footer {
    text-align: center;
    background: #78003F;
    color: #fff;
    padding: 1rem 0;
    margin-top: 2rem;
}

#profilio-informacija input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

#saugoti-mygtukas {
    margin-top: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#pagalbos-forma {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    background: #78003F;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #78003F;
}


#rezultatu-lentele {
    margin-top: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: #78003F;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

#rezultatu-informacija p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .logo-container img {
        width: 40px;
        height: 40px;
    }
}
